
@font-face {
    font-family: "Roboto";
    src: url("../unit1-activity1/fonts/Roboto/Roboto-Black.ttf") format('truetype'),
    url("../unit1-activity1/fonts/Roboto/Roboto-Black.woff2") format('woff2');
}
:root
{
    --color1:  hsl(0, 0%, 0%);
    --color2: #ffffff;
    --color3: #b3a9da;
    --color4:  hsl(179, 44%, 62%);
    --color5:  #80A1D4;
    --fontprimary: "Roboto",
    system-ui;
}
@media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
    p{ margin-left: 30px;
        margin-right: 30px;
    }
  
  }
  .unlock-regular {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color2);
    color: var(--color1); 
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}

header {
    background-color: var(--color4);
    text-align: center;
    padding: 1%;
}

h1 {
    font-size: 40px;
    color: var(--color1);

    
}
h1, h2{
    font-family: "Unlock", serif;
    letter-spacing: 2px;
}

nav ul {
    
    list-style-type: none;
    /* padding: 2px;
    margin-top: 3px; */
    display: flex;
    margin: 0;
    padding: 2px;
    height: 25px;
    background-color: var(--color5);


}

a {
    text-decoration: none;
    color: var(--color1);
    text-align: center;
}

a:hover {
    color: var(--color2);
}

/* li {
    background-color: var(--color5);
    border: 1px solid var(--color1);
    
} */

li:hover {
    background-color:var(--color3);
}

nav ul li {
    margin: 1px;
    padding: 1px;
    display: block;
    flex-grow: 1;
    text-align: center;
}


section {
    margin-top: 30px;
    margin-left: 30px;
    width: 97%;
    height: 26%;
    flex-grow: 3;
    align-content: center;
    border-bottom: solid var(--color5);
    border-left: solid var(--color5) ;
    box-shadow: 3px 5px 6px var(--color3);
}

section h2 {
    font-size: 25px;
    color:var(--color3);
    font-weight: bold;
    margin-left: 30px;

}

section p {
    font-size: 18px;
    color: var(--color1);
    padding-bottom: 25px;
    font-family: "Roboto", sans-serif;
}

footer {
    background-color:var(--color4);
    text-align: center;
    padding: 10px;
    text-align: center;
}

