
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf") format('truetype'),
        url("../fonts/Roboto/Roboto-Black.woff2") format('woff2');
}
.unlock-regular {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --color1: hsl(0, 0%, 0%);
    --color2: #ffffff;
    --color3: #b3a9da;
    --color4: hsl(179, 44%, 62%);
    --color5: #80A1D4;
    --fontprimary: "Roboto", system-ui;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color2);
    color: var(--color1);
    margin: 0;
    padding: 0;
     /* por defecto se colocaran en columna los elementos hijos*/
    display: flex;
    flex-direction: column;
    /*Me aseguro que ocupe toda la pantalla*/
    min-height: 100vh;
    
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color4);
    text-align: center;
    padding: 1%;
}

h1 {
    font-size: 40px;
    color: var(--color1);

}

h1,
h2 {
    font-family: "Unlock", serif;
    letter-spacing: 2px;
}

nav ul {
    list-style-type: none;
    
    display: flex;
    margin: 0;
    padding: 2px;
    height: 25px;
    background-color: var(--color5);

}

a {
    text-decoration: none;
    color: var(--color1);
    text-align: center;
}

a:hover {
    color: var(--color2);
}
li:hover {
    background-color: var(--color3);
}
nav ul li {
    margin: 1px;
    padding: 1px;
    display: block;
    flex-grow: 1;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column; /* En pantallas pequeñas, las secciones estarán en columna */
    flex-grow: 1;
    width: 100%;
    padding: 10px;
}


section {
    margin: 10px;
    padding: 15px;
    border: 2px solid var(--color5);
    box-shadow: 3px 5px 6px var(--color3);
    background-color: var(--color2);
    flex-grow: 1; /* expandir secciones*/
}


section h2 {
    font-size: 25px;
    color: var(--color3);
    font-weight: bold;
}

section p {
    font-size: 18px;
    color: var(--color1);
}


@media screen and (min-width: 800px) {
    main {
        flex-direction: row; /* Cuando la pantalla sea grande, cambia a filas */
        justify-content: space-between; 
        align-items: flex-start;
    }

    section {
        width: 30%; /*Ocupe el 30% del ancho*/
        margin: 10px;
    }
}

footer {
    background-color: var(--color4);
    text-align: center;
    /* padding: 9px; */
    /* margin-top: 20px; */
}
